html {
  height: 100%;
}

body {
  height: 100%;
  background-color:#91866E;
  background-image:url('/img/bg.jpg');
  padding-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.container { 
  width: 1320px;
}

@media (max-width: 1338px) {
  .container { 
    width: 1000px;
  }
}

@media (max-width: 1052px) {
  .container { 
    width: 680px;
  }
}

@media (max-width: 700px) {
  .container { 
    width: 320px;
  }
}



.row {
   margin-left:0;
   margin-right:0;
}

.item {
  width: 310px;
}

.item img.image {
  max-width: 100%;
  margin-top: 9px;
}

.well {
  background-color: #FFFFFF;
  padding: 0px;
  -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -moz-box-shadow:    0 1px 3px rgba(34, 25, 25, 0.4);
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  border: none;
  
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.well:hover {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

//Fallback for FF since it doesn't do greyscale effect
@-moz-document url-prefix() { 
  .well:hover {
     opacity: 0.7;
  }
}

.well img {
  padding: 10px;
}

.info {
  background-color: #F2F0F0;
  border-radius: 0px 0px 3px 3px;
  border-top: 1px solid #D9D4D4;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  color: #333333;
  font-size: 14px;
  padding: 7px 11px;
}

.info h2 {
  font-size: 20px;
  margin: 0px;
  color: #683822;
  font-weight: bold;
  text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
  font-family: 'PT Sans', sans-serif;
}

.info a {
  text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
  color: #000000;
}

.info a:hover {
  text-decoration: none;
}

.info a:hover:before, .info a:focus:before {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
    transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
}

.info a:before {
    color: #47EDFF;
    content: attr(data-hover);
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
    transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
   -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    pointer-events: none;
}

.corner-stamp {
    width: 630px;
    height: 414px;
    padding: 0px 0px 15px 0px;
}

@media (max-width: 700px) {
  .corner-stamp {
    width: 310px;
    height: 210px;
    padding: 0px;
  }
}

.corner-stamp img {
  border-radius: 3px;
  width: 100%;
}


/* Isotope Transitions
------------------------------- */
.isotope,
.isotope .item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}
  
  
/* responsive media queries */

@media (max-width: 768px) {
  header h1 small {
    display: block;
  }

  header div.description {
    padding-top: 9px;
    padding-bottom: 4px;
  }

  .isotope .item {
    position: static ! important;
    -webkit-transform: translate(0px, 0px) ! important;
       -moz-transform: translate(0px, 0px) ! important;
            transform: translate(0px, 0px) ! important;
  }
}


/*
 * Show product page
 * /
 */


#product_show_page .post {
  background-color: #FFF;
  background-image:url('/img/blizzard.png');
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px #333333;
  box-shadow: 1px 1px 3px #333333;
  padding: 20px;
}

#product_show_page h2, #product_show_page .pa{
  font-family: 'Satisfy', cursive;
}

#product_show_page h2, #product_show_page h3, #product_show_page .pa  {
  text-align: center;
  margin: 5px;
}

#product_show_page h3 {
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 10px;
  color: #5EA7B4;
}

#product_show_page .pa  {
  font-size: 1.4em;
}

#product_show_page #back_home a {
  font-family: 'PT Sans',sans-serif;
  color: #A68C7B;
  text-decoration: none;
}
